
      <div class="col">
          <nav>
       <ul>
          <li><a class="one" href="#">About</a></li>
          <li><a class="one" routerLink="get">GET</a></li>
          <li><a class="one" href="#" routerLink="reg">GET2</a></li>
          <li><a class="one" href="#" routerLink="ca">cA</a></li>
          <li><a class="one" href="#" routerLink="cb">cB</a></li>
          <li><a class="one" href="#" routerLink="cb">cc</a></li>
          <li><a class="one" href="#" routerLink="cb">cd</a></li>
          
          
          
          
          
          <li><a class="two" routerLink="reg2">POST</a></li>
          
          <li><a class="three" routerLink="login">LOGIN</a></li>
          </ul> 
          </nav>
      
      </div>

